* {
    box-sizing: border-box;
}
body {
    background-color: #601595;
    width: 1075px;
    height: 1075px;
    margin: auto;
}
p {
    color: #fff;
}
h1 {
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 800px;
    animation: ani 10s linear infinite;
}
@keyframes ani {
    0%  {
    transform: translateX(100%);
    }
    100% {
    transform: translateX(0%);
    }
   }
img {
    padding: 50px 0 0 0;
}
.imgs {
    margin: 0 150px 0 0;
    position: sticky;
    top: 1px;
}
.ima {
    margin: 0 150px 0 10px;
}
