/*Body*/

body {
    background-image: url(../images/pizzabackground.jpg);
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
.container-size {
    padding-bottom: 20px;
}
.container-size-logo {
    padding-bottom: 325px;
}
.container-background {
    background: #ff805d;
    border: 1px solid #833621;
    border-right: 6px solid #833621;
    border-left: 6px solid #833621;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.info-background {
    background-color: #fff;
    border-top: 1px solid #833621;
    border-bottom: 1px solid #833621;
    border-right: 1px solid #833621;
    border-left: none;
    border-radius: 20px;
}
.info-size {
    padding-bottom: 565px;
}
ul {
    list-style: none;
}
/**/

/*Logo*/
.logo h1::before {
    position: relative;
    content: '';
    display: block;
    margin-left: 250px;
    width: 600px;
    height: 600px;
    background-color: rgb(167,194,194);
    border-radius: 70% 30% 60% 40%;
}
.logo img {
    position: absolute;
    margin-left: 250px;
    top: 50px;
}
/**/

.main-nav ul {
    text-align: left;
}
.main-nav li {
    display: inline-block;
}
.main-nav a {
    padding: 10px 5px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
    font-size: 32px;
    transition: .6s;
}
.main-nav a:hover {
    color: rgba(167,194,194);
}

.sign-in-bar {
    text-align: right;
}
.sign-in-bar p {
    margin-top: 8px;
    font-size: 21px;
}

.sign-in-nav {
    background-color: rgb(167,194,194);
    border-radius: 50%;
    margin-top: 70px;
}
.sign-in-nav a {
    text-decoration: none;
    color: #000;
    font-size: 35px;
    transition: .6s;
}
.sign-in-nav a:hover {
    color: #ff805d;
}

.social-bar {
    background-color: rgb(167,194,194);
    border-radius: 30% 60% 20% 40%;
    margin-top: 70px;
}
.social-bar ul {
    padding: 20px;
}
.social-bar li {
    display: inline-block;
    margin-right: 5px;
}
.social-bar a {
    text-decoration: none;
    color: black;
    font-size: 42px;
}
.social-bar a:hover {
    color: #ff805d;
}