body {
    background-color: rgb(243, 243, 243);
}
.container-size {
    padding-left: 0;
}
.container-background {
    background: #ff592b;
    background: linear-gradient(to right, #ff592b 0%,#ff815e 40%,#ff815e 60%,#ff592b 100%);
    border: 1px solid #833621;
    border-right: 6px solid #833621;
    border-radius: 20px;
    padding-bottom: 20px;
}
.info-background {
    background-color: #fff;
    border-top: 1px solid #833621;
    border-bottom: 1px solid #833621;
    border-right: 1px solid #833621;
    border-left: none;
    border-radius: 20px;
}